@import './mixins.scss';


.patients-page__banner {
  padding-top: $spacing-06;
  padding-bottom: $spacing-07 * 2;
  @include banner-background;
}

.patients-page__footer {
  padding-top: $spacing-04;
  padding-bottom: $spacing-04;
  @include footer-background;
}

.patients-page__banner-heading {
  @include carbon--type-style('productive-heading-06');
}

.patients-page__body-section {
  // margin-top: rem(-40px);
  transform: translateZ(0);
  justify-content: flex-end;
}

.bx--tabs--scrollable {
  transform: translateZ(0);
  justify-content: flex-end;
}

.patient-edit-form-text-input {
  margin-bottom: 0rem
}

